body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
.bazta{
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#myChart{

  height: 200px;
  width: 200px;
}
.imgHead{

  display: flex;
  justify-content: center;
}
#info{
  display: flex;
}
#icon{
  margin-right: 8px;
}
.ctd{
width: 700px;
height: 500px;
margin-left: 130px;
margin-top: 90px;
}
 
#text{

  margin-top: 40px;
  margin-left: 210px;
}
#imgsize1{

  height: 160px;
  margin-top: 10px;margin-right: 40px;
}
 
.container{

  padding-bottom: 30px;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}
.haut{
  display: flex;
   
  margin-left: 300px;
  padding-top: 20px;

}

.hau{

  margin-left: 190px;
  padding-top: 20px;
}
.butt{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#pad{
  margin-top: 30px;
}
#array{
  width: 700px;




}
 
#imgsize{

  height: 100px;
  width: 376px;
  margin-right: 30px;
  margin-left: 50px;
  
}
.read-more-link{
  color: blueviolet;
  text-decoration: underline;
  letter-spacing: auto;
  cursor: pointer;
  padding-top: 2px;
   
}
 @media screen and (max-width:1200px){

  
#imgsize1{

  margin-left: 250px;
}




 }
 
 

 
  
  
  
   @media screen and (max-width:620px){
      
     #imgsize{

      width: 120px;
     }
     table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    .arrayw{
      margin-left: 20px;
      display: none;
    }
    .bazta{
      display: block;
 
    }
    #cisco{
       
      margin-left: 28px;
    }
    
    table th {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    #cisco{
      width: 260px;
      height: 150px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
     #imgsize1{

      width: 120px;
      margin-left: 50px;
     }
     #er{

      width: 100px;
     }
     #text{

      width: 250px;
      margin-left: 29px;
     
     }
     .text-justify {
     
       margin-left: 20px;
       margin-right: 20px;
      
     }
 
.butt{
  margin-left: 10px;
}
.content{
  margin-right: 20px;
}
 


    .hau{
      display: flex;
      margin-left: 0px;
      

    }

  }
 

@media screen and (max-width:600px){
  .App{

    width: 400px;
  }
  #txt{
    display: none;
  }
   


.imgsize1{

  height: 100px;
}
  .haut{

    margin-left: 0px;
  }
  .line{
     margin-left: 0;
     
  }
  .accordion-button{
    width:350px;
    margin-left: 0;
      
  }
  .accordion-body{
    width:350px;
    margin-left: 0;

  }
  .accordion-header{
    width:350px;
    margin-left: 0;

  }
  .accordion-item{
    width:350px;
      margin-left: 0;
  }
  .ctd{

     width: auto;
     height: 100%;
    margin-left: 20px;

  }
 

  .accordion{
    
    margin-left: 10px;
    margin-right: 10px;
  }

}